<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'ingredients_list' %}">Ingredients List</a></li>
                <li><a href="{% url 'menu_item_list' %}">Menu Items</a></li>
                <li><a href="{% url 'purchase_list' %}">View Purchases</a></li>
                {% comment %}  <li><a href="{% url '' %}">View Profit and Revenue</a></li>{% endcomment %} 
            </ul>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>