{% extends 'django_restaurant\base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<h1>Ingredients List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Ingredient Name</th> 
        <th>Quantity</th>
        <th>Unit</th>
        <th>Price Per Unit</th>
        <th></th>
        <th></th>
    </tr>
    {% for item in object_list %}
        <tr>
            <td>{{ item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.unit}}</td>
            <td>£{{item.price_per_unit}}</td>
            <td><a href="{% url 'ingredients_update' item.id %}">Update</a></td>
            <td><a href="">Delete</a></td>
        </tr>
    {% endfor %}    
</table>
<h3><a href="{% url 'ingredients_create'%}">Add new Ingredients</a></h3>
{% endblock %}
    

