{% extends 'django_restaurant\base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
<h1>Menu Item List</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Price</th>
    </tr>
    {% for item in object_list %}
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.price}}</td>
        <td><a href="{% url 'menu_item_update' item.id %}">Update</a></td>
        <td><a href="{% url 'menu_item_delete' item.id %}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<h3><a href="{% url 'menu_item_create'%}">Add an Item to the Menu</a></h3>
{% endblock %}
    

